/*body.theme-dark {*/
/*  background-color: darkgray;*/
/*  color: black;*/
/*}*/
/*#ajax-wrapper {*/
/*  background-color: black;*/
/*  color: white;*/
/*}*/
/*#ajax-wrapper a {*/
/*  color: white;*/
/*}*/
div .navbar-header {
  width: 100%;
}
div .region-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div .node--type-advertisement.node--view-mode-teaser.ds-2col-fluid {
  margin-top: 16px;
}
